
name: Conventional Commit Parser
on:
  pull_request:
    branches: [main, master, release]
    types: [opened, reopened, edited, review_requested, synchronize]
    
jobs:
  build:
    name: Conventional Commits
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: webiny/action-conventional-commits@v1.0.3